<nav class="Header bg-midnights sticky top-0 z-50 w-full">
  <div class="max-w-screen-xxl flex flex-wrap items-center justify-between mx-auto p-5 divider divider-start">
    <div class="flex items-center space-x-3 md:order-1 mr-4 rtl:space-x-reverse">
      <a routerLink="/" routerLinkActive="active" class="flex items-center text-center">
        <img [ngSrc]="NavBarInfo.image" loading="eager" class="h-16" width="50" height="200" alt="Logo"/>
        <span class="self-center text-text-font txt text-4xl ml-4">{{NavBarInfo.name}}</span>
      </a>
    </div>

    <div class="flex-grow h-0.5 bg-TPD md:order-2"></div>

    <div class="justify-between md:order-3 hidden md:block ml-4 mr-4" id="navbar-sticky">
      <ul class="flex flex-col font-medium rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="my-1">
          <a routerLink="/" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Home</a>
        </li>
        <li class="my-1">
          <a class="txt block text-3xl text-TEXT-TPD hover:text-text-font pt-2">/</a>
        </li>
        <li class="my-1">
          <a routerLink="/projects" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Projects</a>
        </li>
        <li class="my-1">
          <a class="txt block text-3xl text-TEXT-TPD hover:text-text-font pt-2">/</a>
        </li>
        <li class="my-1">
          <a routerLink="/about" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">About</a>
        </li>
        <li class="my-1">
          <a class="txt block text-3xl text-TEXT-TPD hover:text-text-font pt-2">/</a>
        </li>
        <li class="my-1">
          <a routerLink="/contact" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Contact</a>
        </li>
      </ul>
    </div>

    <div class="flex w-10 h-0.5 bg-TPD md:order-4"></div>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse md:hidden">
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" (click)="clickExpandButton()" aria-controls="navbar-sticky" aria-expanded="false">
        <svg *ngIf="NavBarInfo.isClicked" class="h-6 w-6"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width={2}
            d="M6 18L18 6M6 6l12 12"/>
        </svg>
        <svg *ngIf="!NavBarInfo.isClicked" class="h-6 w-6"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width={2}
            d="M4 6h16M4 12h16m-7 6h7"/>
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="NavBarInfo.isClicked" class="md:hidden">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
      <li class="my-1">
        <a routerLink="/" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Home</a>
      </li>
      <li class="my-1">
        <a routerLink="/about" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">About</a>
      </li>
      <li class="my-1">
        <a routerLink="/resume" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Resume</a>
      </li>
      <li class="my-1">
        <a routerLink="/contact" routerLinkActive="active" class="txt block text-3xl text-TEXT-TPD hover:text-text-font p-2">Contact</a>
      </li>
    </ul>
  </div>
</nav>
